p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.text-tahoma{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 70px;

}
#arial{
    font-family: Arial;
    
}
.text-5d-heading{
    font-weight: bold;
    font-size: 35px;
    width: 480px;
    text-align: center;
    
}
.text-5d-description{
    
    font-size:19px;
    width: 480px;
    text-align: center;
    margin-top: 18px;
}
.text-5d-learnmore{
    
    text-align: center;
    font-size:19px;
    width: 480px;
    text-align: center;
    margin-top: 18px;
    color: blue;
    margin-bottom: 70px;
}
.text-5b-header{
    font-weight: bold;
    font-size: 35px;

}
.text-5b-message{
    font-style: italic;
    font-size: 25px;
    color: red;
    margin-top: 10px;
    font-weight:540;
    margin-bottom: 70px;
}
.text-5c-header{
    font-size: 30px;
    font-weight: bold;

}
.text-5c-topro{
    color: grey;
    margin-top: 3px;
    font-size: 20px;
}
#Verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-5c-description{
    font-size: 20px;
    width: 390px;
    margin-top: 25px;
    line-height: 30px;
}
.button-5c{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: rgb(61, 158, 61);
    color: white;
    border:none;
    border-radius: 10px;
    margin-top: 25px;
    cursor: pointer;
    margin-bottom: 70px;
}
.text-5e-new{
    color: rgb(190, 127, 9);
    font-weight: bold;
    width :650px;
    text-align: center;
    
}
.text-5e-product{
    color: #282828;
    font-size: 30px;
    font-weight: bold; 
    width :650px;  
    text-align: center;     
}
.text-5e-description{
    color: #282828;
    font-size: 58px;
    font-weight: bold;
    width :650px;
    text-align: center;
}
.text-5e-price{

    color: #282828;
    text-align: center;
    width :650px;
    margin-top: 18px;
    font-size: 20px;
    
}
.p-5e-buy{
    text-align: center;
    width :650px;
    margin-bottom: 70px;

}
.button-5e-buy{
    color: white;
    margin-top: 18px;
    
    font-size: 17px;
    background-color: rgb(52, 72, 141);
    border:none;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}
.text-5f-amount{
    font-size: 40px;

}
.text-5f-amount-type{
    font-size: 20px;
    color: grey;
}
.text-5f-stats{
    margin-top: 10px;
    color: green;
    font-size: 20px;

}
.text-5f-analytics{
    margin-top: 13px;
    color: grey;
    font-size: 25px;
    margin-bottom: 70px;
}
.text-5f-analytics-span{
    color: red;
}
.text-5g-website{
    font-size: 30px;
    font-weight: bold;
}
.text-5g-website-span{
    font-weight:100;
    color: grey;
}
.text-5g-description{
    margin-top: 15px;
    font-size: 30px;
    width: 950px;
    line-height: 40px;
}
.text-5g-conclution{
    margin-top: 15px;
    font-size: 30px;
    width: 950px;
    line-height: 40px;
}
.text-5g-conclution-span{
    color: rgb(90, 147, 170)
}