.header{
    height: 65px;   
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-color: rgb(222, 222, 222);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    background-color: white;
    z-index: 100;
    
}
.left-section{
    width: 170px;
    
    display: flex;
    align-items: center;
    
}
.hamburger-menu{
    width: 24px;
    margin: 0px 24px;
}
.youtube-logo{
    width: 90px;
}
.middle-section{
    flex: 1;
    display: flex;
    align-items: center;
    
    margin-left: 70px;
    margin-right: 35px;
    max-width: 470px;

}
.header-searchbar{
    flex: 1;
    height: 36px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 1px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05) ;
    padding-left: 6px;
    font-size: 16px;
    font-family: Roboto,Arial;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 0;
}
.header-searchbar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

}



.search-button{
    width: 60px;
    height: 39px;
    border-color: rgb(192, 192, 192);
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-width: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: -1px;
    margin-right: 6px;
    cursor: pointer;    
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icons-container .tooltip{
    position: absolute;
    background-color: rgba(92, 90, 90, 0.8);
    border-radius: 4px;
    padding: 8px 12px;
    color: white;
    font-size: 16px;
    font-family: roboto, arial ;
    bottom: -55px;
    
    opacity: 0;
    transition: opacity 0.15s; 
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icons-container:hover .tooltip{
    opacity: 1;
}
.search-icon{
    height: 25px;

}
.voice-search-button{
    height: 39px;
    width: 39px;
    border:none;
    border-radius: 20px;

    position: relative;
}

.voice-search-icon{
    height: 25px;
    
    
}
.right-section{
    margin-right: 12px;

    width: 190px;  
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;  
}
.upload-icon{
    height: 25px;
}
.youtube-apps-icon{
    height: 25px;
}

.notifications-icon{
    height: 25px;
    
}
.notifications-icons-notify{
    background-color: #cc0000;
    border-radius: 80px;
    position: absolute;
    top: -3px;
    right: -7px;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 1px 5px;
    pointer-events: none;
}
.my-channel-icon{
    height: 30px;
}



