.page-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
@media (max-width:750px) {
    .page-grid{        
        grid-template-columns: 1fr 1fr;
        
    }
}
@media (min-width:751px) and (max-width:1200px){
    .page-grid{        
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}

@media (min-width:1201px) {
    .page-grid{        
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
}
.video-privew{
    /* display: inline-block;
    vertical-align: top;  
    width: 300px; 
    margin-right: 10px;  
    margin-bottom: 10px;        */
}
.thumbnail-row{
    margin-bottom: 10px;
    position: relative;
}
.thumbnail{                     
    width: 100%;  
    
}
.video-duration{
    position: absolute;
    bottom:8px;
    right: 4px;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 4px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-profile-pic{           
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.video-title{            
   padding-bottom: 10px;
   font-weight: bold;          
   font-size: 14px;
   
}
.video-channel{
    padding-bottom: 5px;
    font-size: 13px;
    color: rgb(100, 100, 100);
}
.video-stats{
    padding-bottom: 1px;
    font-size: 13px;
    color: rgb(100, 100, 100);
}