.sidebar{
    width: 78px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 65px;
    bottom: 0;
    left:0;  
    z-index: 200;  
}
.sidebar-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 74px;
    font-size:10px ;
    font-family: Roboto, Arial, sans-serif;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color:whitesmoke
}
.sidebar-icons{
    width: 24px;
    margin-bottom: 5px;
}